@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

body,
html {
	min-width: fit-content;
	/* overflow-x: hidden; */
}

.spacer {
	/* aspect-ratio: 900/300; */
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
}

.layer1 {
	background-image: url('./images/layered-waves-blue-haikei.svg');
}

.layer2 {
	background-image: url('./images/blurry-gradient-haikei.svg');
}
